canvas {
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
}

#canvas-background {
    z-index: 0;
}
#canvas-player {
    z-index: 2;
}
#canvas-game {
    z-index: 1;
}
#canvas-hud {
    z-index: 3;
}
